*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.header-nav{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header.bg-light-blue{
    background-color: #ADD8E7;
    color: black;
}


.nav a{
    text-decoration: none;
    color: black;
    margin: 0 10px

}


/* ========== Palette ==========
.bg-#DAA51E yellow
.bg-#00018B dark blue
.bg-#EF82ED dark pink
*/
